:root {
  /* Color Scheme */
  --primary-color: #001f3f; /* Classic dark navy */
  --accent-color: #06b6d4; /* Bright cyan */
  --background-color: #f3f4f6; /* Light gray */
  --text-color: #1f2937; /* Dark gray for text */
  --text-light: #ffffff; /* White text for dark backgrounds */
  --border-gray: #e5e7eb;
  --darkslategray: #4b5563;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

.skills .container {
  flex-basis: 80%;
}

.skills .container div {
  border: 1px solid var(--border-gray);
  border-radius: 1rem;
  padding: 1rem 0 2rem;
}

.skills .container h2 {
  border-bottom: 1px solid var(--border-gray);
  padding-left: 1.3rem;
  padding-bottom: 0.6rem;
}

.skills .container ul {
  padding-top: 1rem;
  padding-left: 1.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 1rem;
  row-gap: 2rem;
}

.skills .container ul li:last-child:nth-child(odd) {
  grid-column: span 2;
}

.skills .container ul li {
  background-color: var(--accent-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .skills .container ul {
    column-gap: 0.4rem;
  }
}

@media (min-width: 1024px) {
  .skills {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
  }

  .skills .container ul {
    grid-template-columns: repeat(auto-fit, minmax(150px, 45%));
    column-gap: 1rem;
  }
}
