:root {
  /* Color Scheme */
  --primary-color: #001f3f; /* Classic dark navy */
  --accent-color: #06b6d4; /* Bright cyan */
  --background-color: #f3f4f6; /* Light gray */
  --text-color: #1f2937; /* Dark gray for text */
  --text-light: #ffffff; /* White text for dark backgrounds */
  --border-gray: #e5e7eb;
  --darkslategray: #4b5563;
}

main {
  padding-top: 2rem;
  padding-bottom: 7rem;
}
main .intro {
  text-align: center;
  padding: 1.5rem 1rem 3rem;
}

.intro h1,
section h2 {
  color: var(--primary-color);
}

.intro p {
  color: var(--darkslategray);
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 1rem;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.skills .container {
  flex-basis: 80%;
}

.skills .container div {
  border: 1px solid var(--border-gray);
  border-radius: 1rem;
  padding: 1rem 0 2rem;
  box-shadow: 0 0 0.2rem var(--accent-color);
}

.skills .container h2 {
  border-bottom: 1px solid var(--border-gray);
  padding-left: 1.3rem;
  padding-bottom: 0.6rem;
}

.skills .container ul {
  padding-top: 1rem;
  padding-left: 1.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 0.5rem;
  row-gap: 2rem;
}

.skills .container ul li:last-child:nth-child(odd) {
  grid-column: span 2;
}

.skills .container ul li {
  background-color: var(--accent-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .skills .container ul {
    column-gap: 0.4rem;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .skills {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    width: 80%;
    column-gap: 2rem;
  }

  .skills > .container:last-child:nth-child(odd) {
    grid-row: 3 / -3;
  }
}

@media (min-width: 1024px) {
  .intro p {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  .skills {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  main {
    padding-top: 3rem;
  }
  .skills {
    flex-direction: row;
  }

  .intro p {
    width: 50%;
  }

  .skills .container ul {
    grid-template-columns: repeat(auto-fit, minmax(150px, 45%));
    column-gap: 1rem;
  }
}
